#gifButtons {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap
};

#heading {
   font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
    font-weight: bold
};

a {
    text-decoration: none
}



